:root {
  --main-color: #e54750;
  /* --secondary-color: #2c3e50;
  --accent-color: #f39c12;
  --light-color: #ecf0f1;
  --dark-color: #2c3e50;
  --success-color: #27ae60;
  --warning-color: #f39c12;
  --danger-color: #e74c3c; */
}